!! General settings
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintslight
Xft.dpi:       120

!! XTerm config
xterm*font: xft:Cascadia Code:style=Regular:size=10 
XTerm*allowBoldFonts: false
*.scaleHeight: 2.0

!! Colorscheme
*.background: #181818
*.foreground: #DEDEDE
*.cursorColor: #FEA63C

*color0:	#232323
*color1:	#E27373
*color2:	#94B979
*color3:	#FFBA7B
*color4:	#97BEDC
*color5:	#E1C0FA
*color6:	#00988E
*color7:	#DEDEDE

*color8:	#707070
*color9:	#FFA1A1
*color10:	#BDDEAB
*color11:	#FFDCA0
*color12:	#B1D8F6
*color13:	#FBDAFF
*color14:	#1AB2A8
*color15:	#FFFFFF
